            <div class="container">
              <div class="columns">
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/contact">Contact</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-info">
                    <p class="is-size-5">
                      About
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                     <a href="/blogpost">Blogposts</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/portfolio">Portfolio</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      Guestbook
                    </p>
                  </div>
                </div>
              </div>
            </div> 
              </div>
            </div>             
             
<section>


    <div class="container">
        <div class="columns">
            <div class="column">
        <p class="center is-size-3">
            This a website created by Oskar Svensson as a school project in a class about webdeveloping. 
            Its a totally obsolete website without any real use or functions but feel free
            to surf around on the site and do boring shit like reading blogpost made by yours truly or check out 
            the portfolio that is as empty as the void dimension out in outher space. </p>
    </div>
        </div>
    </div>

