<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/portfolio">Portfolio</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/guestbook">Guestbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>

          <section class="section">
          <div class="container">
              <div class="column">
            <div class="buttons">
              <a class="button notification is-info" href="/newblogpost">
              New blogpost</a>
            </div>
            </div>
            <div class="column">
              <a class="button notification is-warning" href="/newPortfolioEntry"> New portfolio entry</a>
            </div>
            <div class="column">
              <a class="button notification is-danger" href="">Delete portfolio entries</a>
            </div>
            <div class="column">
              <a class="button notification is-danger" href="/deleteBlogpost">Delete blogposts</a>
            </div>
            <div class="column">
                <a class="button notification is-primary" href="/logut"> Log out</a>
            </div>
          </div>
          </section>