<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
               <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-info">
          <p class="is-size-5">
            Blogposts
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            Portfolio
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            Guestbook
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>


        <section class="section">
          <div class="container">
            <div class="buttons">
              <a class="button notification is-info" href="/newblogpost">
              New blogpost</a>
            </div>
          </div>
      <div class="container">
          
              <div class="column">
                  <p class="is-size-2">Blogpost #1</p>
                  <p class="is-size-5">This is the first blogpost ever made lols
                      today is was a the school, it was fun. 
                      now i will go home to eat som cheese balls and watch some tv lol. 
                      very much fun times. guhrepigureriughprebvuperivbevibvivhbeaivhbevipbva
                      piuberibreiphbapeibuerbepiabjebökjbpiebivbvipabve
                      pejnepijbeinijenbpjsebnteköjbtbjapiejbp
                      piejbnpsibibnstriöjbnrbjtrbntbntsökbjiösitgbtpisb
                      pibhutsipbntipbjtnrbijtntryykyvv
                  </p>
              </div>
              <div class="column">
                  <p class="is-size-2">BlogPost #2</p>
                  <p class="is-size-5">This is a freaking blopost dude</p>
              </div>

      </div>
        </section>
  