<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/portfolio">Portfolio</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/guestbook">Guestbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>

<section class="section">
    <div class="container">
        <div class="columns">
            <form method="POST" action="/delbp">
                <div class="column">
                    <p>Choose id of which blogpost to delete</p>
                    <textarea class="input" name="delbp" id="delbp"></textarea> 
                    <button class="notification is-danger">Delete</button>
                </div>
            </form>
            <div class="column is-two-thirds">
            {{#if blogpost}}
            {{#each blogpost}}
 
              <div class="column has-backround-black">
                  <p class="is-size-2" name="title">id ={{id}}.  {{title}}</p>
                  <p class="is-size-5" name="content" > {{content}}
                  </p>
              </div>

            {{/each}}
            {{else}}
                <p>No blog entries</p> </div>
            {{/if}}
        </div>
    </div>
</section>