<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/portfolio">Portfolio</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            Guestbook
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>



<form method="GET" action="/loggedin">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Login</h3>
                    <p class="subtitle has-text-grey">Please login to proceed.</p>
                    <div class="box">
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" autofocus="" name="em">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password" name="pw">
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Login</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                    </p>
                </div>
            </div> 
</form>
